
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SitePi.Models.User

<div class="container">
    <div class="py-3">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="card">
        <form method="post">
            <div class="card-header">
                <span class="text-muted">Novo Usuario</span>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>User Name</label>
                    <input asp-for="Name" class="form-control">
                    <small>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </small>
                </div>
                <div class="form-group">
                    <label>Email Address</label>
                    <input asp-for="Email" class="form-control">
                    <small>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </small>
                </div>
                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" asp-for="PasswordHash" class="form-control">
                    <small>
                        <span asp-validation-for="PasswordHash" class="text-danger"></span>
                    </small>
                </div>
                <div class="form-group">
                    <label>Confirmar Senha</label>
                    <input type="password" asp-for="PasswordConfirm" class="form-control">
                    <small>
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </small>
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </div>
        </form>
    </div>
</div>